n8n-workflows/semhys-contact-automation.json
{
  "meta": {
    "instanceId": "semhys-automation"
  },
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "semhys-contact",
        "options": {
          "noResponseBody": false
        }
      },
      "id": "webhook-start",
      "name": "SEMHYS Contact Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"body\"][\"type\"]}}",
              "operation": "equal",
              "value2": "contact_form"
            }
          ]
        }
      },
      "id": "filter-contact-form",
      "name": "Filter Contact Form",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "user",
        "user": {
          "__rl": true,
          "value": "me",
          "mode": "list"
        },
        "subject": "🚀 Nuevo Contacto SEMHYS - {{$json[\"body\"][\"data\"][\"name\"]}}",
        "message": "=<h2>Nuevo contacto desde la web de SEMHYS</h2>\n\n<p><strong>Nombre:</strong> {{$json[\"body\"][\"data\"][\"name\"]}}</p>\n<p><strong>Email:</strong> {{$json[\"body\"][\"data\"][\"email\"]}}</p>\n<p><strong>Empresa:</strong> {{$json[\"body\"][\"data\"][\"company\"] || 'No especificada'}}</p>\n<p><strong>Teléfono:</strong> {{$json[\"body\"][\"data\"][\"phone\"] || 'No proporcionado'}}</p>\n<p><strong>Idioma:</strong> {{$json[\"body\"][\"data\"][\"language\"]}}</p>\n\n<h3>Servicios de interés:</h3>\n<ul>\n{{#each $json[\"body\"][\"data\"][\"services\"]}}\n<li>{{this}}</li>\n{{/each}}\n</ul>\n\n<h3>Mensaje:</h3>\n<p>{{$json[\"body\"][\"data\"][\"message\"]}}</p>\n\n<hr>\n<p><small>Enviado desde: {{$json[\"body\"][\"data\"][\"source\"]}} el {{$json[\"body\"][\"data\"][\"timestamp\"]}}</small></p>",
        "options": {
          "ccList": "team@semhys.com",
          "attachments": []
        }
      },
      "id": "send-email-notification",
      "name": "Send Email Notification",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [680, 200]
    },
    {
      "parameters": {
        "phoneNumberId": "your-whatsapp-phone-id",
        "to": "{{$json[\"body\"][\"data\"][\"phone\"]}}",
        "message": "=¡Hola {{$json[\"body\"][\"data\"][\"name\"]}}! 👋\n\nGracias por contactar SEMHYS. Hemos recibido tu mensaje sobre: {{$json[\"body\"][\"data\"][\"services\"].join(', ')}}.\n\nUn ingeniero de nuestro equipo se pondrá en contacto contigo dentro de las próximas 24 horas.\n\n🔧 SEMHYS - Engineering Excellence"
      },
      "id": "send-whatsapp-confirmation",
      "name": "Send WhatsApp Confirmation",
      "type": "n8n-nodes-base.whatsapp",
      "typeVersion": 1,
      "position": [680, 400]
    },
    {
      "parameters": {
        "url": "https://api.airtable.com/v0/your-base-id/Contacts",
        "authentication": "headerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer your-airtable-api-key"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "={\n  \"Name\": \"{{$json[\"body\"][\"data\"][\"name\"]}}\",\n  \"Email\": \"{{$json[\"body\"][\"data\"][\"email\"]}}\",\n  \"Company\": \"{{$json[\"body\"][\"data\"][\"company\"]}}\",\n  \"Phone\": \"{{$json[\"body\"][\"data\"][\"phone\"]}}\",\n  \"Message\": \"{{$json[\"body\"][\"data\"][\"message\"]}}\",\n  \"Services\": \"{{$json[\"body\"][\"data\"][\"services\"].join(', ')}}\",\n  \"Language\": \"{{$json[\"body\"][\"data\"][\"language\"]}}\",\n  \"Source\": \"Website Contact Form\",\n  \"Status\": \"New Lead\",\n  \"Created\": \"{{$json[\"body\"][\"data\"][\"timestamp\"]}}\"\n}"
            }
          ]
        },
        "options": {}
      },
      "id": "save-to-airtable",
      "name": "Save to Airtable CRM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "url": "https://hooks.slack.com/services/your/slack/webhook",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "=🚀 *Nuevo contacto SEMHYS*\n\n*Cliente:* {{$json[\"body\"][\"data\"][\"name\"]}}\n*Email:* {{$json[\"body\"][\"data\"][\"email\"]}}\n*Empresa:* {{$json[\"body\"][\"data\"][\"company\"] || 'No especificada'}}\n*Servicios:* {{$json[\"body\"][\"data\"][\"services\"].join(', ')}}\n*Idioma:* {{$json[\"body\"][\"data\"][\"language\"]}}\n\n*Mensaje:* {{$json[\"body\"][\"data\"][\"message\"]}}"
            }
          ]
        }
      },
      "id": "notify-slack",
      "name": "Notify Team (Slack)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [900, 100]
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "id": "wait-before-followup",
      "name": "Wait 1 Minute",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "user",
        "user": {
          "__rl": true,
          "value": "={{$json[\"body\"][\"data\"][\"email\"]}}",
          "mode": "list"
        },
        "subject": "=Gracias por contactar SEMHYS - Próximos pasos 🚀",
        "message": "=Estimado/a {{$json[\"body\"][\"data\"][\"name\"]}},\n\nGracias por tu interés en los servicios de SEMHYS. Queremos asegurarte que tu mensaje es muy importante para nosotros.\n\n<h3>📋 Resumen de tu consulta:</h3>\n<ul>\n<li><strong>Servicios de interés:</strong> {{$json[\"body\"][\"data\"][\"services\"].join(', ')}}</li>\n<li><strong>Fecha de contacto:</strong> {{$json[\"body\"][\"data\"][\"timestamp\"]}}</li>\n</ul>\n\n<h3>⏰ Próximos pasos:</h3>\n<ol>\n<li>Un ingeniero especializado revisará tu consulta</li>\n<li>Te contactaremos dentro de 24 horas</li>\n<li>Programaremos una reunión técnica si es necesario</li>\n<li>Te proporcionaremos una propuesta personalizada</li>\n</ol>\n\n<p><strong>¿Tienes alguna pregunta urgente?</strong><br>\nPuedes contactarnos directamente al: +1 (234) 567-890</p>\n\n<p>Gracias por confiar en SEMHYS.</p>\n\n<p>Saludos cordiales,<br>\n<strong>Equipo SEMHYS</strong><br>\nEngineering Excellence</p>"
      },
      "id": "send-followup-email",
      "name": "Send Follow-up Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [1340, 300]
    }
  ],
  "connections": {
    "SEMHYS Contact Webhook": {
      "main": [
        [
          {
            "node": "Filter Contact Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Contact Form": {
      "main": [
        [
          {
            "node": "Send Email Notification",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send WhatsApp Confirmation",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notify Team (Slack)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Save to Airtable CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Airtable CRM": {
      "main": [
        [
          {
            "node": "Wait 1 Minute",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 1 Minute": {
      "main": [
        [
          {
            "node": "Send Follow-up Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-01-15T10:30:00.000Z",
      "updatedAt": "2024-01-15T10:30:00.000Z",
      "id": "semhys-automation",
      "name": "SEMHYS"
    }
  ]
}